*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

			/*------compound1 start-----*/
.container{
	width:1200px;
	margin:30px auto;
	padding:30px;
	border:1px solid;
	border-radius:5px;
}
.btn_container{
	width:fit-content;
	display:flex;
	overflow:hidden;
	border-radius:8px;
	
}

	
.btn_container a{
	text-decoration:none;
	
}
.left{
	background-color:#da3644;
	padding:15px 21px;
	color:white;
	
}
.middle{
	background-color:#fbc305;
	padding:15px 28px;
	color:black;
}
.right{
	background-color:#188752;
	padding:15px 21px;
	color:white;
}
	
	/*------compound1 End-----*/
	
	/*------compound2 start-----*/
	
	
	.container1{
	width:1200px;
	margin:30px auto;
	padding:30px;
	border:1px solid;
	border-radius:5px;
		position:relative;
}
	
	.inbox{
	background-color:#136cf2;
	padding:15px 28px;
	color:white;

	}
	
	.btn button
	{
		background-color:#cb3e4f;
		padding:5px 18px;
		border-radius:23px;
		color:white;
		position:absolute;
		top:13px;
		left:89px;
		border:none;
		
		
	}
		
	
	/*------compound2 End-----*/
	
		/*------compound3 start-----*/
		
		.container2{
	width:1200px;
	margin:30px auto;
	padding:30px;
	border:1px solid;
	border-radius:5px;
		position:relative;
}
	
	.profile{
	background-color:#136cf2;
	padding:15px 28px;
	color:white;

	}
	
	.btn1 button
	{
		background-color:#cb3e4f;
		padding:10px;
		border-radius:20px;
		color:white;
		position:absolute;
		top:20px;
		left:114px;
		border:1px solid white;
		
		
	}
		
		
			/*------compound3 End-----*/